.game {

    padding: 10px;

    &.playing {
        padding: 110px 10px 10px 10px;
    }
    
    @media screen and (min-width: 768px) {
        padding: 20px;
        &.playing {
            padding: 20px;
        }
    }

    .interface-wrapper {

        width: 100%;
        padding: 10px;
        @media screen and (min-width: 768px) {
            position: static;
            background: transparent;
            padding: 0;
            box-shadow: none;
        }

        .gameInfos {
            display: flex;
            position: relative;
            font-size: 25px;
            margin-bottom: 30px;
            white-space: nowrap;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }

            .score-wrapper {
                text-align: center;
                order: 1;
                display: flex;
                align-items: center;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    order: 0;
                    flex-direction: row;
                }

                .points {
                    padding: 0 0 20px 0;
                    display: flex;
                    @media screen and (min-width: 768px) {
                        padding: 0 10px 0 0;
                        flex-direction: column;
                    }
                    
                }
                
            }

            .timer {
                text-align: center;
                margin: 0 auto 20px;
                display: flex;
                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                    flex-direction: column;
                }
            }

            .timer-btn-wrapper {
                order: 1;
                min-width: 50px;

                .pauseBtn, .resumeBtn {
                    width: 50px;
                    height: 50px;
                    background-color: #43B581;
                    background-size: 50% 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #45eca0;
                    }
                }

                .pauseBtn {
                    background-image: url($imagePath + 'ui/pause.png');
                }

                .resumeBtn {
                    background-image: url($imagePath + 'ui/resume.png');
                }
            }

            .regulator {
                width: 50px;
            }
        }

        .interactive-wrapper {
            display: flex;
            margin-bottom: 30px;
            white-space: nowrap;
            flex-direction: column;
            position: relative;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
            
            .input-wrapper {
                margin-bottom: 20px;
                width: 100%;
                background-color: #fff;
                position: fixed;
                top: 0;
                padding: 20px;
                box-shadow: 0 5px 5px rgba(0,0,0,.5);
                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                    left: 0;
                    padding: 15px 0 15px 15px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    max-width: 270px;
                    top: 100px;
                }

                .last-found {
                    font-size: 13px;
                    padding-bottom: 10px;
                }

                .enterNamesInstruct {
                    padding-bottom: 20px;
                }

                input {
                    font-size: 20px;
                    width: 100%;
                    background-color: #fff;
                    transition: ease-in .2s;
                    @media screen and (min-width: 768px) {
                        width: 80%;
                    }

                    &.valid {
                        background-color: #43B581;
                    }
                }

                .hint-wrapper {
                    padding-top: 10px;

                    .hint-ready {
                        display: flex;
                    }

                    .hint-not-ready {
                        font-size: 12px;
                    }

                    .hint-label {
                        cursor: pointer;
                        text-decoration: underline;
                        font-size: 12px;
                        margin-right: 10px;
                    }

                    .hint-picto {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        background: url($imagePath + 'ui/refresh.png') center no-repeat;
                        background-size: cover;

                        &.anim {
                            animation-name: spin;
                            animation-duration: 2s;
                        }
                    }
                }
            }


            .btn-wrapper {
                width: 100%;;

                .btn {

                    &.giveUp {
                        margin: 0 auto;

                    }

                    &.playAgain, &.play {
                        position: absolute;
                    }

                    &.next {
                        margin: 0 0 0 auto;
                        @media screen and (min-width: 768px) {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }


    .table-wrapper {
        display: flex;

        .pokemonTable {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            flex-wrap: wrap;
            margin: 0 auto 20px;
    
            .block {
                margin: 0 auto;

                @media screen and (min-width: 1208px) {
                    margin-right: 30px;
                }

                &:first-child {
                    .tableHead {
                        display: flex;
                    }
                }
                
                .tableHead {
                    display: none;
                    align-items: stretch;
                    border: 1px solid #000;
                    background: #fff;

                    @media screen and (min-width: 624px) {
                        display: flex;
                    }
    
                    .number {
                        flex: 0 0 40px;
                        min-width: 40px;
                        max-width: 40px;
                        text-align: center;
                        border-right: 1px solid #000;
                        padding: 10px;
                    }
    
                    .name {
                        min-width: 110px;
                        max-width: 110px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        text-align: center;
                    }
    
                    .type1 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        text-align: center;
                        border-right: 1px solid #000;
                        padding: 10px;
                    }
    
                    .type2 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        text-align: center;
                        padding: 10px;
                    }
    
                }
    
                .pokemon-data {
                    display: flex;
                    flex-direction: column;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    background: #fff;

                    .pokeForm {
                        display: flex;
                        border-bottom: 1px solid #000;

                        > div {
                            display: flex;
                        }
                    }
    
                    .data-number {
                        flex: 0 0 40px;
                        min-width: 40px;
                        max-width: 40px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .data-name {
                        min-width: 110px;
                        max-width: 110px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 16px;

                        &.validanswer {
                            background-color: #43B581;
                            &.transition {
                                transition: ease-in .2s;
                                background-color: #fff;
                            }
                        }


                        .forgotten {
                            color: #F04747;
                        }
                    }
    
                    .data-type1 {
                        border-right: 1px solid #000;
                    }
    
                    .data-type1, .data-type2 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        min-width: 70px;
                        text-align: center;
                        padding: 10px;
                        display: flex;
                        align-items: center;

                        .typeImg-wrapper {
                            margin-bottom: 5px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.empty-pokedex {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .error-img {
        width: 320px;
        height: 171.5px;
        background: url($imagePath + 'ui/sad-pikachu.png') center no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .error-mg {
        padding: 20px 10px 30px;
        text-align: center;
    }

    .btn-wrapper {
        justify-content: center;
    }
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}