.game {
    padding: 10px;
    @media screen and (min-width: 1024px) {
        padding: 20px;
    }

    .interface-wrapper {

        .gameInfos {
            display: flex;
            position: relative;
            font-size: 25px;
            margin-bottom: 30px;
            white-space: nowrap;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }

            .score-wrapper {
                text-align: center;
                order: 1;
                display: flex;
                align-items: center;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    order: 0;
                    flex-direction: row;
                }

                .points {
                    padding: 0 0 20px 0;
                    @media screen and (min-width: 768px) {
                        padding: 0 10px 0 0;
                    }
                    
                }
                
            }

            .timer {
                text-align: center;
                margin: 0 auto 20px;
                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                }
            }

            .timer-btn-wrapper {
                order: 1;
                min-width: 50px;

                .pauseBtn, .resumeBtn {
                    width: 50px;
                    height: 50px;
                    background-color: #43B581;
                    background-size: 50% 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #45eca0;
                    }
                }

                .pauseBtn {
                    background-image: url($imagePath + 'ui/pause.png');
                }

                .resumeBtn {
                    background-image: url($imagePath + 'ui/resume.png');
                }
            }
        }

        .interactive-wrapper {
            display: flex;
            margin-bottom: 30px;
            white-space: nowrap;
            flex-direction: column;
            position: relative;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
            
            .input-wrapper {
                margin-bottom: 20px;
                @media screen and (min-width: 768px) {
                    position: fixed;
                    margin-bottom: 0;
                }

                .enterNamesInstruct {
                    padding-bottom: 20px;
                }
            }

            .btn-wrapper {
                display: flex;

                &.middleBtn {
                    margin: 0 auto;
                }

                .btn {
                    padding: 20px;
                    border-radius: 25px;
                    cursor: pointer;

                    &.giveUp {
                        background: #F04747;

                        &:hover {
                            background: #ff8383;
                        }
                    }

                    &.play, &.playAgain {
                        background-color: #43B581;

                        &:hover {
                            background: #45eca0;
                        }
                    }
                }
            }
        }


    }


    .table-wrapper {
        display: flex;
        .pokemonTable {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            flex-wrap: wrap;
            margin: 0 auto;
    
            .block {
                margin: 0 auto;

                @media screen and (min-width: 1208px) {
                    margin-right: 30px;
                }

                &:first-child {
                    .tableHead {
                        display: flex;
                    }
                }
                
                .tableHead {
                    display: none;
                    align-items: stretch;
                    border: 1px solid #000;
                    background: #fff;

                    @media screen and (min-width: 624px) {
                        display: flex;
                    }
    
                    .number {
                        flex: 0 0 40px;
                        min-width: 40px;
                        max-width: 40px;
                        text-align: center;
                        border-right: 1px solid #000;
                        padding: 10px;
                    }
    
                    .name {
                        min-width: 110px;
                        max-width: 110px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        text-align: center;
                    }
    
                    .type1 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        text-align: center;
                        border-right: 1px solid #000;
                        padding: 10px;
                    }
    
                    .type2 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        text-align: center;
                        padding: 10px;
                    }
    
                }
    
                .pokemon-data {
                    display: flex;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    background: #fff;
    
                    .data-number {
                        flex: 0 0 40px;
                        min-width: 40px;
                        max-width: 40px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .data-name {
                        min-width: 110px;
                        max-width: 110px;
                        border-right: 1px solid #000;
                        padding: 10px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &.valid-answer {
                            background-color: #43B581;
                        }

                        &.transition {
                            transition: ease-in .3s;
                        }

                        .forgotten {
                            color: #F04747;
                        }
                    }
    
                    .data-type1 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        min-width: 70px;
                        text-align: center;
                        border-right: 1px solid #000;
                        padding: 10px;
                    }
    
                    .data-type2 {
                        flex: 0 0 70px;
                        max-width: 70px;
                        min-width: 70px;
                        text-align: center;
                        padding: 10px;
                    }
                }
            }
        }
    }
}