.generation {

    .gen-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .first-half {
            margin-right: 50px;
            @media screen and (min-width: 768px) {
                margin-right: 0;
            }
        }

        .first-half, .second-half {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
        }
        
        .gen-box {
            display: flex;
            align-items: baseline;
            margin-bottom: 20px;
            margin-right: 0;
            @media screen and (min-width: 768px) {
                margin-right: 15px;
            }

            @media screen and (min-width: 768px) {
                margin-right: 30px;
            }
            
            .gen {
                width: 60px;
                height: 55px;
                background-color: #fff;
                border-radius: 5px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                
                &:hover {
                    background-color: #f1f1f1;
                }

                @for $i from 1 through 8 {
                    &.active.gen-#{$i} {
                        background-image: url($imagePath + 'generation/gen' + $i + '.png');
                    }
                }
            }

            .gen-number {
                padding-left: 5px;
            }
        }

    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        padding: 30px 0 20px;

        .btn {
            background: #fff;
            border-radius: 20px;
            padding:  10px 20px 15px;
            cursor: pointer;

            &:hover {
                background: #f1f1f1;
            }
        }
    }
}