.score {
    padding: 10px;

    @media screen and (min-width: 768px) {
        padding: 20px;
    }

    .score-wrapper {

        margin: 50px 0 0;

        .input-wrapper {
            display: flex;
            flex-direction: column;
    
            label {
                text-align: center;
            }
    
            input {
                max-width: 200px;
                margin: 20px auto;
                font-size: 20px;
            }
    
        }

        .table-scores-wrapper {

            .settings {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-start;
                }

                .chosenGens, .chosenTypes, .chosenDifficulty {
                    display: flex;
                    justify-content: center;
                    max-width: 300px;
                    padding-top: 30px;
                    @media screen and (min-width: 768px) {
                        padding-top: 0;
                    }
                }

                .chosenGens {
                    flex-direction: column;

                    .gens-wrapper {

                        display: flex;
                        justify-content: center;
                        padding-top: 20px;

                        .gen {
                            position: relative;
                            padding-right: 15px;
                            &:not(:last-child):after {
                                content: ",";
                                position: absolute;
                                top: 0;
                                right: 8px;
                            }
                        }
                    }

                }

                .chosenTypes {
                    flex-direction: column;

                    .types-wrapper {

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding-top: 20px;

                        .type {
                            padding: 10px 5px 0 0;
                        }
                    }

                }
            }

            .emptyScores {
                text-align: center;
                padding-top: 30px;
                font-size: 20px;
            }

            .btn-wrapper {
                margin-top: 30px;

                .previous {
                    margin-right: 20px;
                }
            }

            .table-scores {

                max-width: fit-content;
                margin: 0 auto;
                background: #fff;
                margin-top: 30px;

                .table-head, .table-row {
                    display: flex;
                    border: 1px solid #000;

                    &.playedGame {
                        background-color: #43B581;
                    }
                }

                .table-cell {
                    display: flex;
                    padding: 10px 5px;
                    text-align: center;
                    min-width: 100px;
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    justify-content: center;
                    align-items: center;
                    &:not(:last-child) {
                        border-right: 1px solid #000;
                    }

                    &.score .percentage {
                        display: none;
                    }

                    @media screen and (min-width: 768px) {
                        &.name, &.score {
                            min-width: 200px;
                            max-width: 200px;
                        }

                        &.score .percentage {
                            display: block;
                        }
                    }

                    &.rank {
                        display: none;
                        min-width: 80px;
                        max-width: 80px;

                        @media screen and (min-width: 400px) {
                            display: flex; 
                        }
                    }
                }

            }

        }

        .loader {
            width: 250px;
            height: 177px;
            position: absolute;
            background: url($imagePath + 'ui/loader.gif');
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ajax-error-msg {
            font-size: 20px;
            text-align: center;
        }
    }

    .btn-wrapper {
        justify-content: center;
    }

}