$imagePath: "assets/img/";

@font-face {
	font-family: "pokemonH";
	src: url("assets/fonts/Pokemon_Hollow.ttf");
}

@font-face {
	font-family: "pokemonS";
	src: url("assets/fonts/Pokemon_Solid.ttf");
}

body {
    margin: 0;
}

#app > div {
    margin: 0;
    background: url($imagePath + 'wallpaper.png') no-repeat;
    background-size: cover;
    font-family: "pokemonS";
    background-color: #79C9FA;
    line-height: 1;
    transition: linear 1s;
    min-height: 100vh;

    &.in-game {
        background-position-y: 500px;
    }
}

@import "home";
@import "generation";
@import "type";
@import "difficulty";
@import "game";