$imagePath: "assets/img/";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
	font-family: "pokemonH";
	src: url("assets/fonts/Pokemon_Hollow.ttf");
}

@font-face {
	font-family: "pokemonS";
	src: url("assets/fonts/Pokemon_Solid.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app > div {
    margin: 0;
    // background: url($imagePath + 'wallpaper.png') no-repeat;
    background-size: cover;
    font-family: "pokemonS";
    background-color: #79C9FA;
    line-height: 1;
    transition: linear 1s;
    min-height: 100vh;

    &.in-game {
        background-position-y: 500px;
    }
}

.generation, .type, .difficulty {
    padding-top: 20px;

    @media screen and (min-width: 1024px) {
        padding-top: 100px;
    }

    .instruction {
        text-align: center;
        font-size: 25px;
        padding-bottom: 20px;
        line-height: 1;
    }

    .error-msg {
        text-align: center;
        font-size: 15px;
        padding-bottom: 20px;
        color: #ff0000;
        opacity: 0;

        &.displayed {
            opacity: 1;
        }

        &.transition {
            transition: ease-in 1s;
        }
    }
}

@import "home";
@import "generation";
@import "type";
@import "difficulty";
@import "game";