.type {

    .label {
        padding-left: 10px;
    }

    .all-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        .checkbox.active {
            background-image: url($imagePath + 'ui/check.png');
        }
    }

    .types-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;

        .types-box {
            .specific-type {
                display: flex;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }
}