.type {

    .label {
        padding-left: 10px;
    }

    .all-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        .checkbox.active {
            background-image: url($imagePath + 'ui/check.png');
        }
    }

    .types-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;

        .types-box {
            .specific-type {
                display: flex;
                padding-bottom: 10px;
            }
        }
    }

    .btn-wrapper {
        justify-content: center;
        padding: 50px 0 20px;

        .btn:first-child {
            margin-right: 20px;
        }
    }
}